@model List<gestionBiblioteca.Models.Book>
<link rel="stylesheet" href="~/css/IndexLoan.css" asp-append-version="true" />
@{
    var authors = ViewBag.AuthorList;
    var categories = ViewBag.CategoryList;
    int i = 0;
}

<div>
    <div class="row">
        <div class="buttonsOptions d-flex justify-content-center">
            <a class="card text-decoration-none text-black" asp-controller="Book" asp-action="Create">
                <div class="card-body d-flex flex-column align-items-center">
                    <i class="bi bi-arrow-down-circle-fill"></i>
                    <p>Crear Libro</p>
                </div>
            </a>
        </div>
        <div class="">
            <h2 class="fs-1 fw-bold mt-5">Lista Libros</h2>
            <table class="table table-striped-columns mt-4 table-hover">
                <thead>
                    <th>Id</th>
                    <th>Titulo Libro</th>
                    <th>Estado</th>
                    <th>Autor</th>
                    <th>Categoria</th>
                    <th></th>
                    <th></th>
                </thead>
                <tbody>
                    @foreach (var libro in Model)
                    {
                        <tr>
                            <td>@libro.IdBook</td>
                            <td>@libro.Title</td>
                            @if (libro.Status == true)
                            {
                                <td>Disponible</td>
                            }
                            else
                            {
                                <td>No Disponible</td>
                            }
                            @foreach (var author in authors)
                            {
                                if (author.IdAuthor == libro.IdAuthor)
                                {
                                    <td>@author.Name</td>
                                    break;
                                }
                            }
                            @foreach (var category in categories)
                            {
                                if (category.IdCategory == libro.IdCategory)
                                {
                                    <td>@category.TypeCategory</td>
                                    break;
                                }
                            }
                            <td class="text-center">
                                <a asp-controller="Book" asp-action="Update" asp-route-id="@libro.IdBook"
                                    class="btn btn-success">Editar</a>
                            </td>
                            <td class="text-center">
                                <a asp-controller="Book" asp-action="Delete" asp-route-id="@libro.IdBook"
                                    class="btn btn-success">Eliminar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>