@{
}
@model gestionBiblioteca.Models.LoanViewModel;
<link rel="stylesheet" href="~/css/IndexLoan.css" asp-append-version="true" />

@{
   
}

@*Opciones de los botones: Crear, elimar,actualizar, Historial de prestamos *@
<div class="buttonsOptions">
    <div class="card">
        <div class="card-body d-flex flex-column align-items-center">
            <i class="bi bi-arrow-down-circle-fill"></i>
            <p>Crear Prestamo</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <i class="bi bi-x-circle-fill"></i>
            <p>Eliminar Prestamo</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <i class="bi bi-arrow-down-up"></i>
            <p>Actualizar Prestamo</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <i class="bi bi-card-checklist"></i>
            <p>Ver Historial <br> De Prestamo</p>
        </div>
    </div>
</div>



@* Espacio 1: Crear un prestamo *@

<div class="spaceOne">
    <strong class="title">Crear</strong>
    <form asp-action="CreateLoan">
        <div class="mb-3">
            <label for="dateCreate" class="label">Fecha del prestamo</label>
            <input type="date" class="form-control" id="dateCreate" asp-for="NewLoan.DeliveryDate" placeholder="Fecha del prestamo" required>
        </div>
        <label for="idBook" class="label" >Libro</label>
        <select id="idBook" class="form-select" asp-for="NewLoan.IdBook" required>
            @foreach( var item in Model.Books){
                <option value="@item.IdBook">@item.Title</option>
            }
        </select>
        <label for="idClient" class="label">Cliente</label>
        <select id="idClient" class="form-select" asp-for="NewLoan.IdClient" required>
            @foreach( var item in Model.Clients){
                <option value="@item.IdClient">@item.Name</option>
            }
        </select>
        <button type="submit" class="btn btn-success mt-4 fs-3">Guardar</button>
    </form>
</div>


@* Espacio 4: Historial de prestamos *@

<div class="spaceOne">
    <strong class="title">Historial de prestamos</strong>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre del libro</th>
                <th scope="col">Cantidad de veces prestado</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Records)
            {
                <tr>
                    <td>@item.IdRecord</td>
                    <td>@item.IdLoanNavigation.IdBookNavigation.Title</td>
                    <td>@item.Quantity</td>  
                </tr>
            }
        </tbody>
    </table>
</div>
