
@* Se importa el modelo que se utilizara apartir del controlador LoanController *@
@model gestionBiblioteca.Models.LoanViewModel;
<link rel="stylesheet" href="~/css/IndexLoan.css" asp-append-version="true" />

@{
    var searchBook = Model.Books.Where(b => b.Title.Contains("C#")).ToList();
}

@*Opciones de los botones: Crear, elimar,actualizar, Historial de prestamos *@

<div class="buttonsOptions">
    <div class="card">
        <div class="card-body d-flex flex-column align-items-center">
            <i class="bi bi-arrow-down-circle-fill"></i>
            <p>Crear Prestamo</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <i class="bi bi-x-circle-fill"></i>
            <p>Eliminar Prestamo</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <i class="bi bi-arrow-down-up"></i>
            <p>Actualizar Prestamo</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <i class="bi bi-card-checklist"></i>
            <p>Ver Historial <br> De Prestamo</p>
        </div>
    </div>
</div>



@* Espacio 1: Crear un prestamo *@

<div class="spaceOne">
    <strong class="title">Crear</strong>
    <form asp-action="CreateLoan">

        <label for="idBook" class="label" >Libro</label>
        <select id="idBook" class="form-select" asp-for="NewLoan.IdBook" required>
            @foreach( var item in Model.Books){
                <option value="@item.IdBook">@item.Title</option>
            }
        </select>
        <label for="idClient" class="label">Cliente</label>
        <select id="idClient" class="form-select" asp-for="NewLoan.IdClient" required>
            @foreach( var item in Model.Clients){
                <option value="@item.IdClient">@item.Name</option>
            }
        </select>
        <button type="submit" class="btn btn-success mt-4 fs-3">Guardar</button>
    </form>
</div>

@* Espacio 2: Devolver un prestamo *@

<table class="table">
    <thead>
        <tr>
            <th>Prestamo ID</th>
            <th>Libro titulo</th>
            <th>Nombre Cliente</th>
            <th>Fecha de Entrega</th>
            <th>Fecha de Devolucion</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var loan in Model.Loans)
        {
            var book = Model.Books.FirstOrDefault(b => b.IdBook == loan.IdBook);
            var client = Model.Clients.FirstOrDefault(c => c.IdClient == loan.IdClient);

            <tr>
                <td>@loan.IdLoan</td>
                <td>@(book?.Title ?? "Unknown")</td>
                <td>@(client?.Name ?? "Unknown")</td>
                <td>@loan.DeliveryDate</td>
                <td>@loan.ReturnDate</td>
                <td>
                    @if (loan.ReturnDate == null)
                    {
                        <form asp-action="ReturnLoan" asp-route-id="@loan.IdLoan" method="post">
                            <button type="submit" class="btn btn-success">Devolver Préstamo</button>
                        </form>
                    }
                    else
                    {
                        <span>Préstamo Devuelto</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


@* Espacio 3: Actualizar un prestamo *@

<table class="table">
    <thead>
        <tr>
            <th>Loan ID</th>
            <th>Book Title</th>
            <th>Client Name</th>
            <th>Delivery Date</th>
            <th>Return Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var loan in Model.Loans)
        {
            var book = Model.Books.FirstOrDefault(b => b.IdBook == loan.IdBook);
            var client = Model.Clients.FirstOrDefault(c => c.IdClient == loan.IdClient);

            <tr>
                <form asp-action="EditLoan" method="post">
                    <td>@loan.IdLoan</td>
                    <td>
                        <input required type="text" class="form-control" name="BookTitle" value="@book.Title" />
                    </td>
                    <td>
                        <select class="form-control" name="Id_Client">
                            @foreach (var c in Model.Clients)
                            {
                                <option value="@c.IdClient">@c.Name</option>
                            }
                        </select>
                    </td>
                    <td>
                        <input type="date" class="form-control" name="Delivery_Date" value="@loan.DeliveryDate.ToString("yyyy-MM-dd")" />
                    </td>
                    <td>
                        <input type="date" class="form-control" name="Return_Date" value="@loan.ReturnDate?.ToString("yyyy-MM-dd")" />
                    </td>
                    <td>
                        <input type="hidden" name="Id" value="@loan.IdLoan" />
                        <input type="hidden" name="Id_Book" value="@book.IdBook" />
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </td>
                </form>
            </tr>
        }
    </tbody>
</table>

@* Espacio 4: Historial de prestamos *@

<div class="spaceOne">
    <strong class="title">Historial de prestamos</strong>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre del libro</th>
                <th scope="col">Cantidad de veces prestado</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Records)
            {
                <tr>
                    <td>@item.IdRecord</td>
                    <td>@item.IdLoanNavigation.IdBookNavigation.Title</td>
                    <td>@item.Quantity</td>  
                </tr>
            }
        </tbody>
    </table>
</div>
